#about {
  color: #1e1926;
  text-align: center;
  position: relative;
}

.about-images-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-top: 3rem;
}
.about-image-col {
  flex: 1 1 30%;
}

.about-image {
  width: 100%;
  margin-bottom: 0.8rem;
}
.about-image:hover {
  opacity: 0.8;
}
.highlight {
  gap: 5rem;
  margin-bottom: 2rem;
}
.highlight-text {
  text-align: center;
  font-size: 1rem;
}
.mobile-about-images {
  display: none;
}

@media (orientation: portrait) {
  .highlight {
    gap: 2rem;
  }
  .about-images-section {
    gap: 0.625rem;
    display: flex;
  }
  .about-image {
    margin-bottom: 0.2rem;
  }
  .highlight-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 767px) {
  .about-image-col {
    flex: 1 1 46%;
  }
  .mobile-about-images {
    display: flex;
  }
  .web-about-images {
    display: none;
  }
  .highlight {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .mobile-about-images {
    display: none;
  }
}

/* Large devices (large desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}
