#coverage {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  align-self: stretch;
  position: relative;
  height: 80vh;
}
.coverage-content {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.zip {
  background-color: #62a7a6;
  padding: 0 3.75rem;
  justify-content: center;
  height: 100%;
  width: 50%;
  gap: 2rem;
}
.map {
  object-fit: contain;
  height: 100%;
}
.zip-code-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}
.zip-form-items {
  border-radius: 10px;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#check {
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-weight: bold;
  border: 1px solid #fff;
}
#check:hover {
  background: rgba(255, 255, 255, 0.5);
}
dialog[open] {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  color: #1e1926;
  border: 1px solid #1e1926;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#closeDialogBtn {
  background: transparent;
  border-radius: 10px;
  padding: 0.3rem 1.5rem;
  border: 1px solid #1e1926;
  cursor: pointer;
  color: #1e1926;
}
#closeDialogBtn:hover {
  background: rgba(30, 25, 38, 0.1);
}

@media (orientation: portrait) {
  #coverage {
    height: auto;
    align-items: center;
    overflow: hidden;
	padding-bottom: 0;
  }
  .coverage-content {
    flex-direction: column;
  }
  .zip-code-form {
    flex-direction: column;
    gap: 0.6rem;
  }
  .coverage-item {
    width: 100%;
  }
  .zip {
    width: 100%;
    box-sizing: border-box;
    gap: 1.5rem;
  }
  .zip-map .map {
    width: 100%;
  }
  .zip-form-items {
    padding: 0.8rem;
  }
}

@media (max-width: 767px) {
  #check {
    font-size: 0.8rem;
  }
  .zip {
    padding: 8%;
  }
  dialog[open] {
	padding: 1.5rem;
	width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .zip {
    padding: 5%;
  }
}

/* Large devices (large desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  .zip-form-items {
    padding: 0.5rem 0.8rem;
  }
  .zip-code-form {
    gap: 0.6rem;
  }
  .zip {
    padding: 0 4%;
  }
}

@media (min-width: 1200px) {
}
