#footer {
  background: #212184;
  padding: 3.75rem 5%;
}
.icon {
  margin-right: 0.8rem;
}
.contact-info {
  font-weight: 100;
  text-decoration: none !important;
}
.contact-side-section {
  width: 45%;
}
.copyright {
  font-size: 0.9rem;
}
.line {
  border-width: 0.1px;
  opacity: 0.8;
  margin: 1.875rem 0;
}
.contect-info-section {
    gap: 3rem;
  }

@media (orientation: portrait) {
  #footer {
    padding: 5%;
  }
  .contect-info-section {
    gap: 1.5rem;
  }
}

@media (max-width: 767px) {
  #footer {
    padding: 8%;
  }
  .contect-info-section {
    flex-direction: column;
  }
  .contact-company {
    display: none;
  }
  .contact-side-section {
    width: 100%;
  }
  .contact-side-section h2{
   font-size: 1rem;
  }
  .contact-info {
    font-size: 0.8rem;
  }
  .copyright {
    font-size: 0.7rem;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  #footer {
    padding: 5%;
  }
}

/* Large devices (large desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  #footer {
    padding: 3.75rem 8%;
  }
}

@media (min-width: 1200px) {
}
