#home {
  background: #1e1926;
  gap: 3.75rem;
  padding: 5% 5% 0 5%;
  height: 100vh;
  box-sizing: border-box;
}
#home h1 {
  margin: 0.2rem 0;
}
.home-container {
  position: relative;
}
.home-section {
  width: 50%;
  height: 100%;
}
.slide-section {
  width: 50%;
  height: 100%;
}
.learn-more-button {
  display: inline-flex;
  border: 0.1rem solid #fff;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  padding: 0.6rem 2rem;
  font-size: 1.2rem;
  max-width: fit-content;
  margin-top: 2.75rem;
}
.learn-more-button:hover {
  background: rgba(255, 255, 255, 0.2);
}
.slides {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 80%;
  border-left: 1.8rem solid #fff;
  border-top: 1.8rem solid #fff;
  border-bottom: 1.8rem solid #fff;
  background: #fff;
  box-sizing: border-box;
}

.slides img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: transform 0.3s ease-in-out;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}
.slides img.active {
  opacity: 1;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}
.dots-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  width: 100%;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 0.2);
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #fcf8ff;
}

@media (orientation: portrait) {
  #home {
    flex-direction: column-reverse;
    padding: 6rem 5% 6% 5%;
    gap: 1rem;
  }
  .home-section {
    width: 100%;
    height: 50%;
    justify-content: flex-start;
  }
  .slide-section {
    width: 100%;
    height: 50%;
  }
  .slides {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .slogon {
    line-height: 2.3rem;
    padding: 0.6rem 0;
    font-size: 1.8rem;
  }
  .sub-slogon {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  p {
    margin: 0;
  }
  .learn-more-button {
    font-size: 0.8rem;
    margin-top: 0rem;
    padding: 0.3rem 1.3rem;
    margin-top: 1rem;
  }
  .slides {
    border-left: 0.8rem solid #fff;
    border-top: 0.8rem solid #fff;
    border-bottom: 0.8rem solid #fff;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slogon {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .sub-slogon {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .slogon {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .sub-slogon {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .slogon {
    font-size: 3.3rem;
    line-height: 4rem;
  }
  .sub-slogon {
    font-size: 1.2rem;
  }
}
