@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* // $black: #1e1926;
// $green: #62a7a6;
// $blue: #000099;
// $white: #fcf8ff;
// $dark-grey: #7b7485;
// $light-gray: #afa8ba; */

body,
html {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  color: #fff;
  width: 100%;
  scroll-behavior: smooth;
  font-size: 16px;
  overflow-x: hidden;
}
a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}
section {
  padding: 5rem 15%;
  box-sizing: border-box;
  width: 100%;
}
.section-gap {
  margin-top: 3rem;
}
h1 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}
.web-memu {
  flex-grow: 1;
}
.title {
  font-weight: 500;
  text-align: right;
  letter-spacing: 2px;
}
.navbar {
  background: #1e1926;
  padding: 1rem 5%;
  font-size: 1rem;
  width: 100vw;
  box-sizing: border-box;
  transition: align-items 0.3s ease-in-out;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 3.75rem;
}
.navbar a:hover {
  color: #62a7a6;
}
a.nav-item.active {
  color: #62a7a6;
  font-weight: bold;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.align-items-end {
  justify-content: flex-end;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.green-text {
  color: #62a7a6;
}
.blue-text {
  color: #212184;
}
.black-text {
  color: #1e1926;
}
.mobile-menu {
  display: none;
  padding: 5% 0;
  box-sizing: border-box;
}
.mobile-menu-content .mobile-menu-list {
  max-height: 1px;
  max-width: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.mobile-menu-content .mobile-menu-list.open {
  max-height: 10rem;
  max-width: 100%;
}
.mobile-menu-list .navbar {
  align-items: center;
  background: #fff;
}
.navbar.mobile-menu-list-open {
  align-items: flex-start !important;
  background: #62a7a6;
}
.mobile-menu-content mobile-menu-toggle {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu-content mobile-menu-toggle:focus {
  outline: none;
}

.mobile-menu-content mobile-menu-toggle::after {
  content: "\f0c9";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.mobile-menu-content mobile-menu-toggle[aria-expanded="true"]::after {
  content: "\f00d";
}
.mobile-menu-content .mobile-menu-list {
  list-style: none;
}
.mobile-menu-content .mobile-menu-list li {
  text-decoration: none;
  padding-top: 0.5rem;
}

@media (orientation: portrait) {
  .web-memu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  section {
    padding: 15% 6%;
    height: auto;
  }
  .title {
    width: 100%;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.8rem;
  }
  p {
    font-size: 0.8rem;
  }
  section {
    padding: 18% 6%;
  }
  .section-gap {
    margin-top: 1.5rem;
  }
  .title {
    font-size: 1rem;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar a {
    margin-right: 1rem;
  }
  .mobile-menu {
    display: none;
  }
  section {
    padding: 5rem 10%;
  }
}

@media (min-width: 1200px) {
}
