#service {
  background: #212184;
  text-align: center;
  position: relative;
  color: rgba(255, 255, 255, 0.9);
}
.service-images {
  gap: 1rem;
}
.service-image-overlay {
  position: relative;
  display: inline-block;
}

.service-image-overlay img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.service-image-overlay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.service-image-overlay:hover .overlay {
  background-color: rgba(255, 255, 255, 0.1);
}
.service-image-overlay:hover .overlay .blue-text {
  display: none;
}
.service-image-overlay:hover .hover-text {
  opacity: 1;
  display: block;
  color: #212184;
}

.hover-text {
  opacity: 0;
  display: none;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
}

@media (orientation: portrait) {
}

@media (max-width: 767px) {
  .overlay h2 {
    font-size: 0.8rem;
  }
  .service-images {
    gap: 0.6rem;
    flex-direction: column;
    width: 100%;
  }
  .service-image-overlay img {
    height: 5rem;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (large desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}
